/* 
Styling for musicbyfred.com
Written by Andreas Lepik <https://github.com/AndreasLepik>
*/

body {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
      url(images/vertical-back-rotated.jpg) top 35% center no-repeat rgb(37, 37, 37);
    background-size: cover;
    text-align: center;
    font-family: Unna, 'Times New Roman';
    font-size: 1.25em;
}

h2, h1, a {
    color: white;
}

h2 {
    font-size: 3vw;
    border-top: 0px;
    margin: 0px;
    margin-top: 5vw;
    padding: 0px;
}

h1 {
    position: relative;
    top: -5.5vw;
    font-size: 20vw;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

a {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.5em;
    text-decoration: none;
}

#title {
    margin-top: 38vh;
}

#links {
    padding-bottom: 1em;
}

#links > * {
    transition: 0.5s;
}

#links > *:hover {
    color: rgb(71, 136, 71);
}

@media (max-width: 414px){
    #links {
        display: grid;
    }

    body {
        background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ),
          url(images/vertical-back-slim.jpg) top 35% center no-repeat rgb(37, 37, 37);
        background-size: cover;  
    }
}